@import '~bootstrap/scss/bootstrap';


#game-board {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.box {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}




.border {
  background-color: #938ba1;
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
}

// select the section with the id 'after-sign-in' and make it not display on the page
#game-section, #after-sign-in {
  display: none;
}
